name: Deploy to Cloud Run

env:
  SERVICE_NAME: custom-fastapi-service
  PROJECT_ID: project-962d6846-0b6b-4745-b07
  REGION: us-east1
  REPO_NAME: custom-fastapi
  DOCKER_IMAGE_URL: us-central1-docker.pkg.dev/project-962d6846-0b6b-4745-b07/custom-fastapi/custom-fastapi

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  dockerize-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Check GCP_SA_KEY secret
        run: |
          if [ -z "${GCP_SA_KEY}" ]; then
            echo "GCP_SA_KEY secret not set. Skipping workflow."
            exit 1
          fi
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

      - name: Google Cloud Auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ env.PROJECT_ID }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.PROJECT_ID }}

      - name: Configure Docker
        run: gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Build and Push Docker Image
        run: |
          docker build --progress=plain -t ${{ env.DOCKER_IMAGE_URL }}:latest -f Dockerfile.prod .
          docker push ${{ env.DOCKER_IMAGE_URL }}:latest

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy ${{ env.SERVICE_NAME }} \
            --image ${{ env.DOCKER_IMAGE_URL }}:latest \
            --platform managed \
            --region ${{ env.REGION }} \
            --allow-unauthenticated

